<div class="page-header">
  <h1>Editing Your Reply about <%= @reply.request.travel_to_city %> for <%= @reply.request.user.full_name %> </h1>
</div>

<% if @reply.errors.any? %>
  <ul>
    <% @reply.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul><%= message %></ul>
      </div>
      <% end %>
  </ul>
  <% end %> 

<%= form_tag(reply_url(@reply), method: 'patch', class: 'form-horizontal') do %>
  
  <div class="form-group">

   
<%= hidden_field_tag :user_id, current_user.id %>
<%= hidden_field_tag :request_id, @reply.request_id %>
       
  </div>

  <div class="form-group">
    <%= label_tag :reply_text, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :reply_text, @reply.reply_text, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Reply", class: 'btn btn-primary' %>
    </div>
  </div>
    <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
     <%= link_to 'Add a Photo a an Existing Reply', new_photo_url, class: 'btn btn-primary' %></p>
    </div>
  </div>
<% end %>
