<div class="page-header">
  <h1>New Reply</h1>
</div>

<%= form_tag(replies_url, method: 'post', class: 'form-horizontal') do %>
  
  <div class="form-group">
    <%= label_tag :request_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :request_id, options_from_collection_for_select(Request.all, :id, :travel_to_city),class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :reply_text, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :reply_text, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Reply", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
