<div class="page-header">
  <h3><%= @reply.user.full_name %>'s Reply to <%= @reply.request.user.full_name %>'s Travel Request</h3>
</div>

<dl class="dl-horizontal">
  <dt>Expert</dt>
  <dd><%= @reply.user.full_name %></dd>

  <dt>Traveller</dt>
  <dd><%= @reply.request.user.full_name %></dd>

  <dt>Trip</dt>
  <dd><%= @reply.request.travel_to_city %></dd>

  <dt>Request text</dt>
  <dd><%= @reply.request.request_text %></dd>

  <dt>Reply text</dt>
  <dd><%= @reply.reply_text %></dd>

<dt>Reply photo(s)</dt>
    <% @allphotos.each do |photo| %>
  
  <dd><%= image_tag photo.photo_url, width: 400, class: "img-square" %></dt>
  <dd><%= photo.photo_caption %></dd>
  <br>
<% end %>

<br>


  

