<div class="page-header">
  <h1>New User</h1>
</div>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul><%= message %></ul>
      </div>
      <% end %>
  </ul>
  <% end %> 


<%= form_tag(users_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :last_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :last_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :home_city, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :home_city, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :home_state, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :home_state, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :home_country, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :home_country, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :user_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :user_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= password_field_tag :password, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :photo_url, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :photo_url, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
